In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [5]:
df = pd.read_csv('final_data.csv',index_col=False)
df.head()

,year,Households_owner_equity,saving,saving_rate,population,unemployment,Employment_Population_Ratio,price_index
0,2002,104965.583333,10614.533333,5.575000,287954.583333,5.783333,62.733333,122.287833
1,2003,105559.916667,10884.391667,5.191667,290626.250000,5.991667,62.266667,133.741167
2,2004,106588.000000,11233.175000,4.650000,293262.333333,5.541667,62.350000,150.464167
3,2005,108231.166667,11364.858333,2.250000,295992.916667,5.083333,62.683333,171.779333
4,2006,109575.000000,11777.783333,2.775000,298817.666667,4.608333,63.116667,183.481417

In [6]:
df.describe()

,year,Households_owner_equity,saving,saving_rate,population,unemployment,Employment_Population_Ratio,price_index
count,22.000000,22.000000,22.000000,22.000000,22.000000,22.000000,22.000000,22.000000
mean,2012.500000,115806.193561,13511.235000,5.843939,314520.291667,5.893285,60.296350,183.596396
std,6.493587,7458.058961,2004.590571,2.845602,15229.596812,1.871895,1.847804,49.652959
min,2002.000000,104965.583333,10614.533333,2.250000,287954.583333,3.627273,56.766667,122.287833
25%,2007.250000,110581.354167,12101.806250,4.575000,302407.895833,4.610417,58.702083,149.030979
50%,2012.500000,114637.666667,13031.287500,5.520833,315912.208333,5.454167,60.041667,171.974458
75%,2017.750000,120755.833333,15011.204167,6.306250,328310.791667,7.058333,62.245833,199.695625
max,2023.000000,129906.666667,17138.716667,15.208333,335132.000000,9.608333,63.116667,303.621222

1. No missing value.
2. No any skewness in data.
3. no outliers in data.
4. mean and 50% percentile is approx equal to data distribution is appear like normal distribution.

### Univariant Analysis

#### Households_owner_equity vs price_index